## --- Base web servers
#http://localhost:80 {
#    root /var/www/html
#    ext .html .htm .php
#    log /var/log/caddy/access.log
#    errors /var/log/caddy/error.log
#}

#https://localhost:443 {
#    root /var/www/html
#    ext .html .htm .php
#    tls /etc/ssl/cert/cert.pem /etc/ssl/cert/key.pem
#    log /var/log/caddy/access.log
#    errors /var/log/caddy/error.log
#}

## --- Reverse proxy servers for niltalk
http://localhost:4008 {
    proxy / niltalk:4008
    proxy /w niltalk:4008 {
        websocket
        transparent
    }
}

https://localhost:4009 {
    tls /etc/ssl/cert/cert.pem /etc/ssl/cert/key.pem
    proxy / niltalk:4008
    proxy /w niltalk:4008 {
        websocket
        transparent
    }
    errors /var/log/caddy/error.log
}
